@use './variables' as var;
@mixin card-layout {
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    background-color: var.$newt-Very-Dark-Blue;
    border-radius: .75rem;
    
}