@use './variables' as var;

@mixin card-layout {
    display: block;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: 350px;
    background-color: var.$newt-Dark-Blue;
    border-radius: .75rem;

}

@mixin margin-lr-auto {
    margin-left: auto;
    margin-right: auto;
}
@mixin card-layout-md {

    margin: 8% auto 0 auto;
}
@mixin card-layout-lg {

    margin: 10% auto 0 auto;
}