@use '../utilities' as var;
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  body {

    font-family: 'Overpass';
  }
  .message,
  .message-after {
    color: var.$newt-Light-Grey;
    font-size: 15px;
  }
  .title,
  .title-after {
    color: var.$newt-White;
  }
  .rate-btn {
    color: var.$newt-Light-Grey;;
  }
  .sub-btn {
    color: var.$newt-White;
  }
  .selected {
    color: var.$prim-Orange;
    font-size: 15px;
  }